<div class="container">
    <div class="row">

        <div class="row">
            <h2 class="grey-text text-darken-3">Cadastrar usu&aacute;rio</h2>
        </div>

        <div class="row">
            <form name="usuarioForm" class="col s12">

                <div class="row">
                    <h3 class="grey darken-3 grey-text text-lighten-3">Login</h3>
                </div>

                <div class="row">

                    <div class="input-field col s12 offset-m2 m4">
                        <input id="email_input" name="email" type="email" class="validate" required maxlength="255"
                               ng-model="usuario.login.email" ng-model-options="{ updateOn: 'blur' }">
                        <label for="email_input">E-mail</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="email_confirmation_input" name="confirmacao_email" type="email" class="validate"
                               ng-model="confirmacaoEmail" required maxlength="255"
                               ng-model-options="{ updateOn: 'blur' }">
                        <label for="email_confirmation_input">Confirme seu e-mail</label>
                    </div>

                    <div class="input-field col s12 offset-m2 m4">
                        <input id="senha_input" name="senha" type="password" class="validate"
                               ng-model="usuario.login.senha" required minlength="6" maxlength="32"
                               ng-model-options="{ updateOn: 'blur' }">
                        <label for="senha_input">Senha</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="senha_confirmation_input" name="confirmacao_senha" type="password" class="validate"
                               ng-model="confirmacaoSenha" required maxlength="32"
                               ng-model-options="{ updateOn: 'blur' }">
                        <label for="senha_confirmation_input">Confirme sua senha</label>
                    </div>

                </div>

                <div class="row">
                    <div class="error-message-div red lighten-4 col offset-m3 s12 m6">
                        <p ng-if="usuarioForm.email.$dirty && usuarioForm.email.$error.email" class="error-message">
                            {{messages('error', 8)}}</p>
                        <p ng-if="confirmacaoInvalida(usuario.login.email,confirmacaoEmail)" class="error-message">
                            {{messages('error', 7)}}</p>
                        <p ng-if="confirmacaoInvalida(usuario.login.senha, confirmacaoSenha)" class="error-message">
                            {{messages('error', 6)}}</p>
                        <p ng-if="usuarioForm.senha.$dirty && usuarioForm.senha.$error.minlength" class="error-message">
                            {{messages('error', 5, ['senha', '6'])}}</p>
                    </div>
                </div>

                <div class="row">
                    <h3 class="grey darken-3 grey-text text-lighten-3">Dados b&aacute;sicos</h3>
                </div>

                <div class="row">

                    <div class="input-field col s12 m4">
                        <input id="nome_input" name="nome" type="text" class="validate"
                               ng-model="usuario.dadosBasicos.nome" required maxlength="128">
                        <label for="nome_input">Nome</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="sobrenome_input" name="sobrenome" type="text" class="validate"
                               ng-model="usuario.dadosBasicos.sobrenome" required maxlength="128">
                        <label for="sobrenome_input">Sobrenome</label>
                    </div>

                    <div class="input-field sexo-div col s12 m4">
                        <spam><label class="sexo-label">Sexo:</label></spam>
                        <spam>
                            <input name="sexo" type="radio" id="feminino_input" value="F"
                                   ng-model="usuario.dadosBasicos.sexo" required/>
                            <label for="feminino_input">Feminino</label>
                        </spam>
                        <spam>
                            <input name="sexo" type="radio" id="masculino_input" value="M"
                                   ng-model="usuario.dadosBasicos.sexo" required/>
                            <label for="masculino_input">Masculino</label>
                        </spam>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="cpf_input" name="cpf" type="text" class="validate" ui-br-cpf-mask
                               ng-model="usuario.dadosBasicos.cpf" required>
                        <label for="cpf_input">CPF</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="nascimento_input" name="nascimento" type="text" class="datepicker">
                        <label for="nascimento_input">Data de nascimento</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="telefone_input" name="telefone" type="text" class="validate"
                               ng-model="usuario.dadosBasicos.telefone" ui-br-phone-number>
                        <label for="telefone_input">Telefone</label>
                    </div>

                </div>

                <div class="row">
                    <h3 class="grey darken-3 grey-text text-lighten-3">Endere&ccedil;o</h3>
                </div>

                <div class="row">

                    <div class="input-field col s12 m4">
                        <input id="cep_input" type="text" class="validate" name="cep" ui-br-cep-mask
                               ng-model="usuario.endereco.cep" required ng-change="setCep(usuario.endereco.cep)"
                               ng-disabled="setCepBusy">
                        <label for="cep_input">CEP</label>
                    </div>

                    <div class="col s12 m2" style="text-overflow: ellipsis">
                        <label>UF</label>
                        <select id="uf_input" class="browser-default" ng-model="usuario.endereco.uf" required
                                name="uf" ng-change="setUf(usuario.endereco.uf)" ng-disabled="setCepBusy || setUfBusy"
                                ng-options="uf.id as uf.sigla for uf in ufs">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col s12 m6">
                        <label>Munic&iacute;pio</label>
                        <select id="municipio_input" class="browser-default" ng-model="usuario.endereco.municipio"
                                name="municipio" required ng-disabled="setCepBusy || setUfBusy"
                                ng-options="mun.id as mun.nome for mun in municipios">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="input-field col s12 m8">
                        <input id="logradouro_input" name="logradouro" type="text" class="validate"
                               ng-model="usuario.endereco.logradouro" required maxlength="255" ng-disabled="setCepBusy">
                        <label ng-class="{'active' : usuario.endereco.bairro}" for="logradouro_input">Logradouro</label>
                    </div>

                    <div class="input-field col s12 m4">
                        <input id="numero_input" name="numero" type="text" class="validate"
                               ng-model="usuario.endereco.numero" required maxlength="16">
                        <label for="numero_input">N&uacute;mero</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="bairro_input" name="bairro" type="text" class="validate"
                               ng-model="usuario.endereco.bairro" required maxlength="255" ng-disabled="setCepBusy">
                        <label ng-class="{'active' : usuario.endereco.bairro}" for="bairro_input">Bairro</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <input id="complemento_input" name="complemento" type="text" class="validate"
                               ng-model="usuario.endereco.complemento" maxlength="255" ng-disabled="setCepBusy">
                        <label ng-class="{'active' : usuario.endereco.complemento}"
                               for="complemento_input">Complemento</label>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12 center-align termos-uso-div">
                        <input type="checkbox" id="aceito_termos_input" ng-model="usuario.login.aceitoTermos"
                               name="termos" required/>
                        <label for="aceito_termos_input">Li e aceito os
                            <a href="" ng-click="abrirModal('#termosModal')">termos de uso</a> do site
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="error-message-div red lighten-4 col offset-m3 s12 m6"
                         ng-repeat="erro in usuarioForm.$error.required" ng-if="erro.$dirty">
                        <p class="error-message">{{messages('error', 4, [erro.$name])}}</p>
                    </div>
                    <div class="error-message-div red lighten-4 col offset-m3 s12 m6">
                        <p ng-if="usuario.login.aceitoTermos && !usuario.dadosBasicos.dataNascimento"
                           class="error-message">{{messages('error', 4, ['Data de nascimento'])}}</p>
                        <p ng-if="usuarioForm.cpf.$dirty && usuarioForm.cpf.$error.cpf && document.activeElement.name != 'cpf'"
                           class="error-message">{{messages('error', 3)}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 center-align">
                        <button type="submit" name="action" ng-click="cadastrarUsuario(usuario)"
                                ng-disabled="!validarFormulario(usuarioForm)"
                                class="btn blue waves-effect waves-light ng-class:{ 'disabled': !validarFormulario(usuarioForm) };">
                            Cadastrar
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <!-- Modal Structure -->
        <div id="termosModal" class="modal">
            <div class="modal-content">
                <h4>Termos de uso do site</h4>
                <p>Lorem ipsum dolor sit amet, zril commune elaboraret ne mea, atqui alterum honestatis ad nam, eius
                    aliquam reformidans an pri. Vel te illum utamur philosophia, diceret percipit ut vix. Utinam vocent
                    mentitum usu ut, ut his lorem timeam inimicus, sit debet atomorum et. Sea habeo falli ea.</p>
                <p>Eam affert utroque sententiae ne. Pri iudico officiis voluptatum ei, in populo forensibus reformidans
                    eum. Cu assum tollit euripidis his, pro elaboraret temporibus ex, pro everti placerat cu. Numquam
                    indoctum ad pro, an laudem delectus posidonium vel, cu ius tritani detracto disputando. Labore
                    aliquid deseruisse qui no.</p>
                <p>
                    Feugiat fabellas repudiare no vel, usu oblique diceret reprehendunt ex. Pro ex ludus impedit
                    fabellas, ei sale elitr vel. Offendit appetere ne mel, te vel maiorum constituam. Modus posse
                    scripta te quo, quas postea disputationi no ius. Per elitr dolore virtute et, te vim purto
                    persecuti.</p>
                <p>
                    Vim ipsum deleniti adversarium id, error legere expetenda has cu. Duo an populo euripidis, mei
                    aperiam explicari at, duo sonet errem nonumes in. Et oporteat adipiscing ius, eu soleat admodum
                    expetendis ius. Oratio maiestatis qui et. Officiis inimicus voluptatibus ei pro, quo nulla iudico
                    partem at. Nam ne appetere disputationi. Nulla verterem insolens eu has, cum lorem tractatos eu.</p>
            </div>
            <div class="modal-footer">
                <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"
                   ng-click="aceitarTermosFecharModal('#termosModal')">Aceito os termos</a>
            </div>
        </div>

    </div>
</div>