<div class="container">
    <div class="row login">

        <div class="row">
            <form name="loginForm" class="col s12 m6 offset-m3">

                <div class="row">
                    <h3 class="grey darken-3 grey-text text-lighten-3">Login</h3>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" ng-model="credenciais.email">
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="pass" type="password" class="validate" ng-model="credenciais.senha">
                        <label for="pass">Password</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m6">
                        <p>
                            <input type="checkbox" id="remember">
                            <label for="remember">Lembrar minha senha</label>
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <a href="" ng-click="abrirModal('#esqueciSenhaModal')">
                            <p class="md-right-align">
                                Esqueci a senha
                            </p>
                        </a>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12 m6">
                        <button class="btn btn-block waves-effect waves-light blue" type="button" name="action"
                                ng-click="login(credenciais)">
                            Login
                        </button>
                    </div>
                    <div class="col s12 m6">
                        <a class="btn btn-block waves-effect waves-light blue"
                           href="#/usuarios/cadastrar">
                            Cadastre-se
                        </a>
                    </div>
                </div>
        </div>

        </form>
    </div>

    <!-- Modal Structure -->

    <div id="esqueciSenhaModal" class="modal">
        <form name="resetarSenhaForm">
            <div class="modal-content">

                <div class="row">
                    <h3 class="grey darken-3 grey-text text-lighten-3">Login</h3>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="emailResetarSenha" type="email" class="validate" ng-model="credenciais.email">
                        <label <label ng-class="{'active' : credenciais.email}" for="emailResetarSenha">Email</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat"
                   ng-click="fecharModalResetarSenha('#esqueciSenhaModal')">Cancelar</a>
                <a href="" class="modal-action modal-close waves-effect waves-green btn-flat"
                   ng-click="fecharModalResetarSenha('#esqueciSenhaModal', credenciais.email)">Resetar Senha</a>
            </div>
        </form>
    </div>

</div>
</div>